# Virtual Environment
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/
htmlcov/
coverage.xml
*.cover

# Playwright
.playwright/
playwright-report/
test-results/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
report.html